* {
    margin: 0;
    padding: 0;
    /* border: 1.2px solid brown; */
}

header,
footer,
.cover {
    background-color: #1F2937;
}

header {
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0 2em;
}

nav .links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

nav li {
    border: 1.2px solid whitesmoke;
    padding: 8px 24px;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* COVER SECTION */

.cover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em 0;
}

.cover .cover-left {
    display: flex;
    flex-direction: column;
    width: 420px;
    gap: 10px;

}

.cover-left h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.cover-left p {
    color: #E5E7EB;
    font-size: 18px;
}

.cover-left .cover-btn {
    border: none;
    outline: none;
    background-color: #3882F6;
    color: #fff;
    width: 12em;
    padding: 10px 28px;
    margin: 0 auto;
}

.cover-img {
    width: 500px;
}

/* CARDS SECTION */

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 7em 13em; */
}

.quote-container .quote-source {
    align-self: flex-end;
}

.call-to-action {}

.cta-container {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 4em 16em;
    padding: 2em 8em;
    display: flex;
    justify-content: space-between;
}

.cta-container button {
    border: none;
    outline: none;
    padding: 0.5em 2em;
}

footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-container {
    background-color: #E5E7EB;
}

/* section,
header,
footer {
    border: 1.2px solid brown;
} */