* {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

header {
    border: 2px solid brown;
    display: flex;
}

div .container-1 {
    border: 2px solid brown;
    /* width: 95%;
    margin: 0 auto; */
}

.sub-container-1 {
    display: flex;
    justify-content: space-evenly;
}

.content-1 {
    border: 1px solid black;
}

div .container-2 {
    border: 2px solid brown;
    /* width: 95%;
    margin: 0 auto; */
}

.sub-container-2 {
    display: flex;
}

div .container-3 {
    border: 2px solid brown;
    /* width: 95%;
    margin: 0 auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

div .container-4 {
    border: 2px solid brown;
}

.sub-container-4 {
    background: cyan;
    display: flex;
}

footer {}